.carr{
    min-width: 45vw;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20vh
    button{
        min-width: 0.8vw;
        margin-right: 0.5vw;
        min-height: 0.8vw;
    }
    .rec-dot_active{
        border: 1px solid #E5610E;
        min-width: 0.6vw;
        min-height: 0.6vw;
        box-shadow:  0px 0px 0px 0.5px #D82374;
        background-color: #D82374;
        margin-top: 0.05vh;
    }
  
   
    .Img1Mobil1{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-image: url('../../img/carrusel/img1.png');
        background-position: center;
        background-size: 80%;
        background-repeat: no-repeat;
    }
    .Img1Mobil2{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img2.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .Img1Mobil3{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img3.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .Img1Mobil4{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img4.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .Img1Mobil5{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img5.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    .Img1Mobil6{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img6.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .Img1Mobil7{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img7.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .Img1Mobil8{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img8.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .Img1Mobil9{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img9.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .Img1Mobil10{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img10.png');
        background-position: center;
        background-repeat: no-repeat;
    }
    .Img1Mobil11{
        margin-top: 17.5vh;
        min-width: 40vw;
        min-height: 65vh;
        background-size: 80%;
        background-image: url('../../img/carrusel/img11.png');
        background-position: center;
        background-repeat: no-repeat;
    }
}